:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc108;
    --secundario: #0097a7;
    --gris: #757575;
}

html{
    font-size: 65.5%;
    
}

body{
    font-size: 16px; /* 1rem = 1px */
    font-family: 'Krub', sans-serif;
}
.titulo {
    text-align: center;
    font-size: 3.8rem;
    color: var(--oscuro);
}

.titulo span{
    font-size: 2rem;
}
.contenedor{
    width: 120rem;
    margin: 0 auto;
}

.nav-bg{
    background-color: var(--secundario);
}
    
.navegacion-principal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 769px) {
   .navegacion-principal{
    flex-direction: row;

  }
}

.navegacion-principal a{
 color: var(--blanco);
 text-decoration: none;
 padding-top: 1rem;
 font-size: 2rem;
 font-weight: 700;
}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}
