:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc108;
    --secundario: #0097a7;
    --gris: #757575;
}

html{
    font-size: 65.5%;
    
}

body{
    font-size: 16px; /* 1rem = 1px */
    font-family: 'Krub', sans-serif;
}
.titulo {
    text-align: center;
    font-size: 3.8rem;
    color: var(--oscuro);
}

.titulo span{
    font-size: 2rem;
}
.contenedor{
    width: 120rem;
    margin: 0 auto;
}

.nav-bg{
    background-color: var(--secundario);
}
    
.navegacion-principal{
    display: flex;
    padding-top: 1rem;
    justify-content: space-evenly;
}

.navegacion-principal a{
 color: var(--blanco);
 text-decoration: none;
}